<!DOCTYPE html>
    <head>
        <title>Cadastro</title>
    </head>
    <body>
        <h1 class="cadastro">Cadastrar-se</h1>
        <form method="POST">
            <input type="text" id="nome" name="nome" placeholder="Nome"/> <br>
            <input type="text" id="telefone" name="telefone" placeholder="Telefone"/> <br>
            <input type="text" id="email" name="email" placeholder="E-mail"/> <br>
            <input type="password" id="senha" name="senha" placeholder="Senha"/> <br>
            <button type="submit" value="enviar" class="botao">Cadastrar-se</button>
        </form>   
    </body>
</html>